.moreInfo {
  font-family: $main-font;
  opacity: 0.8;
  @media screen and (min-width: 320px) {
    padding: 0 10px 35px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 30px 25px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 0 35px;
  }

  &_scroll {
    @media screen and (min-width: 320px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }

    &_arrow {
      width: 28px;
      height: 28px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      border: none;
      padding: 0;
      transition: opacity 200ms linear;
      outline: none;
      img {
        margin: 0 auto;
      }
      &_hidden {
        opacity: 0;
      }
    }
  }
}

.moreInfo__block {
  display: flex;
  @media screen and (min-width: 320px) {
    overflow-x: auto;
    padding-bottom: 20px;
    &::-webkit-scrollbar {
      height: 3px;
      bottom: $focus-color;
      background-color: #ffffff8a;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $focus-color;
    }
  }
  @media screen and (min-width: 768px) {
    overflow: hidden;
  }
  @media screen and (min-width: 1280px) {
    justify-content: space-evenly;
    overflow: hidden;
  }
}

.timeWeather {
  margin: 0 5px;
  list-style: none;
  min-width: 120px;
  height: 220px;
  font-size: 14px;
  text-align: center;
  color: #ffffff8a;
  border: 1px solid #ffffff8a;
  border-radius: 25px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
  }

  &__data {
    text-align: left;
    list-style: none;
    padding-left: 18px;
  }
  &__time {
    font-size: 12px;
    line-height: 1.833;
    margin-top: 15px;
  }
  &__temp {
    font-size: 18px;
    color: $focus-color;
    line-height: 1.222;
    margin-bottom: 15px;
    &-icon {
      margin: 0 auto;
    }
  }
  &__pressure {
    margin-bottom: 5px;
    &::before {
      content: url('./img/icons/pressure.png');
      width: auto;
      height: auto;
      padding-right: 10px;
      vertical-align: middle;
    }
  }
  &__humidity {
    margin-bottom: 5px;
    &::before {
      content: url('./img/icons/humidity.png');
      width: auto;
      height: auto;
      padding-right: 16px;
      padding-left: 7px;
      vertical-align: middle;
    }
  }
  &__wind {
    &::before {
      content: url('./img/icons/wind.png');
      width: auto;
      height: auto;
      padding-right: 10px;
      vertical-align: middle;
    }
  }
}
