.display-block {
  display: block;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

.today-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: $main-font;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0 -120px 57px 0;
  }

  &-fiveday {
    justify-content: center;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: 1280px) {
      width: 1060px;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  }

  @media screen and (min-width: 1280px) {
    justify-content: flex-end;
  }
}

.today-city {
  display: none;
  font-family: $main-font;
  font-size: 28px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  @media screen and (min-width: 1280px) {
    margin-right: 20%;
    display: block;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin: 30px 0;
    display: block;
  }
}

.today-box {
  text-align: center;
  width: 280px;

  &-fiveday {
    margin-bottom: 30px;
    text-align: center;
    width: 280px;
    @media screen and (min-width: 1280px) {
      width: 280px;
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 480px;
  }
  @media screen and (min-width: 1280px) {
    width: 490px;
  }
}

.temperature-box {
  margin-bottom: 30px;
  padding: 30px 60px;
  border-radius: 35px;
  background-color: rgb(16, 33, 54);
  color: rgb(88, 100, 115);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 30px 170px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1280px) {
    padding: 30px 170px;
    margin-bottom: 30px;
  }
}

.days-list__img {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}
.temperature-header {
  margin-bottom: 16px;
  text-transform: capitalize;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    font-size: 18px;
  }
}

.degree-box,
.degree-list,
.btn-list {
  display: flex;
  justify-content: space-between;
}

.degree-box {
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
}
.degree-title {
  font-size: 45px;
  color: rgb(255, 255, 255);
  @media screen and (min-width: 768px) {
    font-size: 90px;
    font-weight: 300;
  }
}

.degree-list,
.btn-list {
  list-style: none;
}

.degree-list {
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  width: 50%;
  @media screen and (min-width: 768px) {
    width: 100%;
    justify-content: space-around;
  }
  @media screen and (min-width: 1280px) {
    justify-content: space-evenly;
  }
}

.degree-item {
  color: rgb(255, 255, 255);
}

.degree-first-subtitle {
  color: rgb(88, 100, 115);
  font-size: 14px;
  position: relative;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.degree-item--line {
  width: 1px;
  height: 32px;
  background-color: rgb(88, 100, 115);
  @media screen and (min-width: 768px) {
    height: 40px;
    margin-top: 10px;
  }
}

.degree-second-subtitle {
  font-size: 18px;
}

.btn-list {
  padding: 0px 4px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.btn {
  padding: 6px 36px;
  font-size: 14px;
  font-family: $main-font;
  font-weight: 700;
  border-radius: 14px;
  background-color: rgba(247, 247, 247, 0.59);
  text-transform: uppercase;
  border: none;
  outline: none;
}
.btn-today {
  background-color: #f7f7f7;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}

.btn-fivedays {
  background-color: #f7f7f7;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 16px;
  }
}

.btn:hover {
  transition: 200ms linear;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.weather-picture-icon {
  margin: 0 auto;
}
